# Compiled object files
*.[oa]

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Build Directory
build
doc

# build system files
.meson-subproject-wrap-hash.txt

# ide folders and files
*.pro*
*.kdev4*
.idea
.wineenv
.vscode
.cache
